---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tag/{{ tag | slug }}/"
eleventyComputed:
  title: "Tag: {{ tag }}"
---
<h1>Ricette con tag &laquo;{{ tag }}&raquo;</h1>

<ul class="elenco-ricette">
  {% for ricetta in collections[tag] %}
    <li>
      <a href="{{ ricetta.url | url }}">
        {% if ricetta.data.immagine %}
          <img class="elenco-ricette-thumb" src="{{ ricetta.data.immagine | url }}" alt="">
        {% else %}
          <span class="elenco-ricette-thumb" aria-hidden="true"></span>
        {% endif %}
        {{ ricetta.data.titolo }}
      </a>
      {% for tipo in ricetta.data.tipo_piatto %}
        <span class="badge">{{ tipo }}</span>
      {% endfor %}
    </li>
  {% endfor %}
</ul>

<p><a href="{{ '/tag/' | url }}">&larr; Tutti i tag</a></p>
